window#waybar {
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
    border-top: 2pt solid rgba(0, 0, 0, 0.9);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;

    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Ubuntu', sans-serif, "Font Awesome 6 Free";
    font-size: 13pt;
    min-height: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 10pt;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    transition: box-shadow 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inset 0 0 0 1px #ffffff;
    text-shadow: none;
    background: transparent;
}

#workspaces button.visible {
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.visible:hover {
    box-shadow: inset 0 -3px #ffffff, inset 0 0 0 1px #ffffff;
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.4);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    margin: 4pt;
    padding: 0 8pt;
    background: rgba(255, 255, 255, 0.3);
    font-size: 10pt;
    font-style: normal;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#keyboard-state,
#language,
#mpd,
#custom-gammastep {
    padding: 0 10pt;
    color: rgba(255, 255, 255, 0.8);
    border-right: 1pt solid rgba(255, 255, 255, 0.2);
}

#tray {
    border-left: 1pt solid rgba(255, 255, 255, 0.2);
}

#cpu, #memory {
    font-size: 12pt;
    background: rgba(0, 0, 0, 0.6);
    border: none;
}

#idle_inhibitor, #custom-gammastep {
    font-size: 15pt;
    padding: 0 5pt;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
    border-right: none;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#language {
    font-size: 16pt;
    min-width: 24pt;
}

#keyboard-state > label {
    margin: 0 4pt;
    padding: 0 10pt;
}

#keyboard-state > label.locked {
    background: rgba(255, 255, 255, 0.2);
}

#pulseaudio > span {
    margin: 0 4pt;
    padding: 0 10pt;
    border: 1pt solid #ffffff;
}


/*
#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
*/
